*{
    margin: 0;
     padding: 0;
      box-sizing: border-box;
}

.cabecalho{ display: flex;
    justify-content: space-between;
     align-items: center;
       background-color:black;
       color: white;
         height: 10vh;
         padding: 0 32px;
          
}
a{
    color: white;
    text-decoration: none;
}
.banner{
      background-color: crimson;
       height: 200px;
        display: flex;
         justify-content: center;
          flex-direction: column;
           text-align: center;
}
button{
    background-color: cornflowerblue;
     flex-direction: row;
       height: 40px;
}
.catologo{
    background-color: rgb(77, 13, 13);
      
        
       
       
}
img{
    height: 140px;
      width: 110px;
    
}
.produto{
    display: flex;
     flex-direction: column;
     justify-content: center;
       align-items: center;
        text-align: center;
         padding: 50px;
}
.botao{
    padding: 10px;
}
.produtos{
    display: flex;
}
 .rodape{
     display: flex;
       justify-content: space-between;
         
 }